:host{
  display: grid;
  grid-template-areas: "image";
  grid-template-rows: 10em;
  margin:0em 1em;
}
.content{
  grid-area:image;
  align-self: start;
  justify-self: center;
  padding: 3em 1em .3em 1em;
  margin:0 0 -4em;
}

::ng-deep img{
  grid-area: image;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: -1;
}

